:root{
    --clr-neon: hsl(196 100% 51%);
    --clr-bg: hsl(283, 93%, 11%);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--clr-bg);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--clr-neon);
}

#text{
    font-size: 4rem;
    color: var(--clr-neon);
    text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.2),
    0 0 0.45em currentColor;
}